/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/


/*--reset--*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*--start editing from here--*/

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}


/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*--end reset--*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    /*background: url(../images/banner.jpg)no-repeat center top;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

.bg-agile {
    width: 85%;
    margin-top:10px !important;
    margin: 0 auto;
}

.left-agileits-w3layouts-img {
    box-sizing: border-box;
    /*padding: 0em 2em 0;*/
    padding: 0px 0px 0px 0px;
    /*background: url(../images/left-img.jpg)no-repeat center top;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.left-agileits-w3layouts-img h3 {
    text-align: center;
    color: #180CED;
    text-shadow: 1px 1px 2px #0e0e0e;
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.left-agileits-w3layouts-img ul li {
    display: block;
    list-style: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 22px;
}

.left-agileits-w3layouts-img ul li span {
    color: #ecb731;
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
}

.left-agileits-w3layouts-img p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: right;
    margin-top: 7em;
    font-style: italic;
}

.book-appointment {
    box-sizing: border-box;
    /*padding: 2em 2em;*/
    padding : 0% 0% 0% 24%;
    padding: 0em 4em;
    background : white;
    margin-right : -6%;
    /*background: rgba(0, 0, 0, 0.78);*/
    /*background: rgba(255, 255, 255, 0.78);*/
}

.bg-agile img {
    position: absolute;
    right: 0;
    bottom: 0em;
    width: 23em;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    /*text-shadow: 1px 1px 7px #6b6b6b;*/
    letter-spacing: 5px;
    margin: 2.4em 0 1em;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 span {
    color: #ecb731;
}

.book-appointment h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: .4em;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.wthree-text {
    text-align: center;
}

.wthree-text h6 {
    margin-top: 10px;
    color: #ecb731;
    font-size: 19px;
    text-transform: capitalize;
    margin-bottom: .7em;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.radio-w3ls li input[type="radio"] {
    cursor: pointer;
}

.radio-w3ls li label {
    color: #fff;
    font-size: 13.5px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat Alternates', sans-serif;
}


/*-- form --*/

.book-agileinfo-form input[type="text"],
.book-agileinfo-form input[type="number"],
.book-agileinfo-form input[type="password"],
.book-agileinfo-form input[type="tel"],
.book-agileinfo-form input[type="email"],
select#country,
select#country1,
input#datepicker {
    width: 100%;
    /*color: #fff;*/
    color: #0700EB;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 10px 10px;
    outline: none;
    background: rgba(255, 255, 255, 0);
    border: none;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.27);*/
    border-bottom: 1px solid #0700EB;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.agileits-btm-spc {
    margin-bottom: 1em;
}

.form-text {
    width: 100%;
}

select#country option,
select#country1 option {
    background: #000;
}

.book-agileinfo-form input[type="submit"],
.book-agileinfo-form input[type="button"],
.book-agileinfo-form input[type="reset"] {
    text-transform: capitalize;
    background: #ecb731;
    /*color: #000000;*/
    color: white;
    padding: 0.7em 0em;
    border: none;
    border: 2px solid #ecb731;
    font-weight: 600;
    font-size: 1em;
    margin-top: 1em;
    width: 49%;
    outline: none;
    letter-spacing: 1px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
}

.book-agileinfo-form input[type="submit"] {
    float: left;
}

.book-agileinfo-form input[type="reset"] {
    float: right;
}

/*.book-agileinfo-form input[type="submit"]:hover,
.book-agileinfo-form input[type="reset"]:hover {
    background: transparent;
    color: #fff;
}*/

.book-agileinfo-form ::-webkit-input-placeholder {
    color: #a0a0a0;
}

.book-agileinfo-form :-moz-placeholder {
    /* Firefox 18- */
    color: #a0a0a0;
}

.book-agileinfo-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #a0a0a0;
}

.book-agileinfo-form :-ms-input-placeholder {
    color: #a0a0a0;
}

p.wickedpicker__title {
    font-family: 'Roboto', sans-serif;
    background: #ecb731;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.wickedpicker__close {
    color: #fefefe;
    margin-top: 5px;
}


/*-- checkbox --*/

.book-agileinfo-form label {
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.83);
    letter-spacing: 2px;
    font-weight: 400;
    position: relative;
    margin-bottom: 5px;
    display: inline-block;
    text-transform: capitalize;
}

ul.radio-w3ls li {
    display: inline-block;
    margin: 0em 1em;
}


/*-- //checkbox --*/


/*--// form --*/


/*--copyright--*/

.copy-w3layouts {
    margin: 5em 0em;
    text-align: center;
}

.copy-w3layouts p {
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 1px 1px 2px #000;
}

.copy-w3layouts p a {
    color: #ffffff;
    text-decoration: underline;
}

.copy-w3layouts p a:hover {
    color: #ecb731;
}


/*--//copyright--*/


/*--responsive--*/

@media(max-width:1680px) {
    h1 {
        font-size: 57px;
        margin: 2em 0 .8em;
    }
}

@media(max-width:1600px) {
    h1 {
        font-size: 54px;
        margin: .9em 0 0.5em;
    }
    .copy-w3layouts {
        margin: 1.7em 0em;
    }
}

@media(max-width:1440px) {
    .bg-agile {
        width: 100%;
    }
    h1 {
        margin: 1.5em 0 0.6em;
    }
    .copy-w3layouts {
        margin: 2.7em 0em;
    }
}

@media(max-width:1366px) {
    h1 {
        font-size: 52px;
        margin: .8em 0 0.4em;
    }
    .left-agileits-w3layouts-img h3 {
        font-size: 1.7em;
    }
    .bg-agile {
        width: 100%;
    }
    .copy-w3layouts {
        margin: 1.5em 0em;
    }
    .book-appointment h2 {
        font-size: 27px;
        letter-spacing: 2px;
    }
}

@media(max-width:1280px) {
    .bg-agile {
        width: 80%;
    }
    .copy-w3layouts {
        margin: 2.2em 0em;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 20.7%;
    }
}

@media(max-width:1080px) {
    .bg-agile {
        width: 90%;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 23%;
    }
}

@media(max-width:1050px) {
    .left-agileits-w3layouts-img {
        padding: 0em 1.7em 0;
    }
}

@media(max-width:1024px) {
    .bg-agile {
        width: 91%;
    }
    .left-agileits-w3layouts-img ul li {
        font-size: 15px;
        letter-spacing: 0.9px;
        margin-top: 10px;
    }
    .book-agileinfo-form input[type="text"],
	.book-agileinfo-form input[type="number"],
	.book-agileinfo-form input[type="password"],
    .book-agileinfo-form input[type="email"],
    select#country,
    select#country1,
    input#datepicker {
        font-size: 15px;
        letter-spacing: 1px;
    }
    h1 {
        font-size: 47px;
        letter-spacing: 4px;
        margin: .6em 0 0.2em;
    }
    .book-appointment h2 {
        font-size: 24px;
    }
    .agileits-btm-spc {
        margin-bottom: 0.6em;
    }
    .book-agileinfo-form input[type="submit"],
    .book-agileinfo-form input[type="reset"] {
        padding: 0.6em 0em;
    }
    .copy-w3layouts {
        margin: 1.5em 0em;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 23.2%;
    }
}

@media(min-width:992px) {
    .bg-agile {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .left-agileits-w3layouts-img {
        flex-basis: 40%;
        -webkit-flex-basis: 100%;
    }
    .book-appointment {
        flex-basis: 60%;
        /*-webkit-flex-basis: 60%;*/
        -webkit-flex-basis: 400%;
    }
}

@media(max-width:991px) {
    .bg-agile {
        width: 75%;
    }
    .left-agileits-w3layouts-img {
        padding: 3em 4em;
        background: url(../images/left-img.jpg)no-repeat center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    .left-agileits-w3layouts-img p {
        margin-top: 4em;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 31.2%;
    }
    h1 {
        margin: .8em 0 0.4em;
    }
    .copy-w3layouts p {
        letter-spacing: 1.5px;
        word-spacing: 0px;
    }
    .copy-w3layouts {
        margin: 1.8em 0em;
    }
    .book-appointment {
        padding: 2.5em 3em;
    }
}

@media(max-width:900px) {
    .ui-datepicker,
    .wickedpicker {
        width: 30.7%;
    }
}

@media(max-width:800px) {
    .left-agileits-w3layouts-img p {
        margin-top: 2em;
    }
    .left-agileits-w3layouts-img ul li {
        font-size: 14px;
        margin-top: 3px;
    }
    h1 {
        font-size: 45px;
        letter-spacing: 3px;
    }
    .left-agileits-w3layouts-img {
        padding: 2em 3em;
    }
    .left-agileits-w3layouts-img h3 {
        font-size: 1.6em;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 30%;
    }
}

@media(max-width:768px) {
    h1 {
        margin: .6em 0 0.4em;
    }
    .book-appointment {
        padding: 2em 2.5em;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 31%;
    }
}

@media(max-width:767px) {
    h1 {
        margin: .8em 0 0.5em;
    }
    .bg-agile {
        width: 85%;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 35.7%;
    }
}

@media(max-width:736px) {
    h1 {
        font-size: 44px;
        letter-spacing: 2px;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 35.5%;
    }
}

@media(max-width:667px) {
    h1 {
        font-size: 45px;
        letter-spacing: 3px;
        line-height: 1.2em;
        margin: .7em 1em 0.4em;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 34.7%;
    }
    .wickedpicker__close {
        margin-top: 2px;
    }
    .copy-w3layouts {
        margin: 1.5em 0em;
    }
    .copy-w3layouts p {
        padding: 0 4em;
        line-height: 30px;
    }
}

@media(max-width:640px) {
    h1 {
        margin: .7em 0em 0.4em;
    }
}

@media(max-width:600px) {
    h1 {
        font-size: 43px;
        letter-spacing: 2px;
    }
    .book-appointment {
        padding: 1.8em;
    }
    .left-agileits-w3layouts-img {
        padding: 2em 2em;
    }
    .wthree-text h6 {
        font-size: 18px;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 36%;
    }
    .book-appointment h2 {
        font-size: 23px;
    }
}

@media(max-width:568px) {
    .copy-w3layouts p {
        padding: 0 2em;
    }
    h1 {
        margin: .5em 0em 0.4em;
    }
    .left-agileits-w3layouts-img h3 {
        font-size: 1.5em;
        letter-spacing: 1px;
    }
}

@media(min-width:481px) {
    .main-agile-sectns {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .form-text1,
    .form-text2 {
        flex-basis: 48%;
        -webkit-flex-basis: 48%;
    }
}

@media(max-width:480px) {
    h2.sub-head-w3ls {
        margin-top: 1em;
    }
    ul.radio-w3ls li {
        margin: 0em 0.5em;
    }
    .book-agileinfo-form input[type="submit"],
    .book-agileinfo-form input[type="reset"] {
        float: none;
        width: 100%;
        font-size: .95em;
        margin-top: 0.5em;
        padding: 0.5em 0em;
    }
    .wthree-text {
        margin: 1.3em 0 .7em;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 72%;
    }
}

@media(max-width:440px) {
    .ui-datepicker,
    .wickedpicker {
        width: 71%;
    }
}

@media(max-width:414px) {
    .bg-agile {
        width: 90%;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 75.5%;
    }
}

@media(max-width:384px) {
    h1 {
        font-size: 39px;
    }
    .left-agileits-w3layouts-img h3 {
        font-size: 1.4em;
    }
    .left-agileits-w3layouts-img ul li {
        font-size: 13.5px;
        margin-top: 5px;
        line-height: 25px;
    }
    .left-agileits-w3layouts-img p {
        margin-top: 1.5em;
        font-size: 13px;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 74.3%;
    }
    ul.radio-w3ls li {
        display: block;
        text-align: left;
        margin: 0em 0em;
    }
    .copy-w3layouts p {
        letter-spacing: 1px;
        font-size: 14px;
    }
}

@media(max-width:375px) {
    .ui-datepicker,
    .wickedpicker {
        width: 73.5%;
    }
}

@media(max-width:320px) {
    h1 {
        font-size: 37px;
        letter-spacing: 0px;
    }
    .left-agileits-w3layouts-img {
        padding: 1.2em;
    }
    .book-appointment {
        padding: 1.2em;
    }
    .book-appointment h2 {
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    .ui-datepicker,
    .wickedpicker {
        width: 77.5%;
    }
    .wthree-text h6 {
        font-size: 17px;
        letter-spacing: 1.5px;
    }
    .copy-w3layouts p {
        padding: 0 1em;
        line-height: 29px;
    }
    .copy-w3layouts {
        margin: 1.3em 0em;
    }
}


/*--//responsive--*/

.ctr{
	text-align : center !important
}
.social{
	height:50px !important;
	width:50px !important;
	position : relative !important;
	margin : 15px 30px 10px 20px;
}
.logo{
	/*height:150px !important;
	width:150px !important;*/
    height: 160px !important;
    width: 500px !important;
}
.modal-header{
    /*background-color : rgba(0, 0, 0, 0.78) !important;*/
    background-color : #180CEC !important;
    color: white;
}
.modal-footer{
    display: none !important;
}
.txt-white{
    color: white !important;
}
.yellow{
    background-color : #ecb731 !important;
    border-color : #ecb731 !important;
}
.close{
    opacity: 1 !important;
}
.error{
    color: red;
}
.success{
    color: green;
}
.code{
    margin: 25px 20px 0px 0px !important;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 166%;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.codes{
    margin: 25px 20px 0px 0px !important;
    
    background: #1000EA !important;
    color: #FFD402;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 200%;
    font-size: 36px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.topMsg{
    color :#180CED !important;
}
.topMsgs{
    color :#180CED !important;
}
.mid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.txt-white{
    color: white;
}
.no-bg{
    background-color: transparent !important;
    border-bottom : 0px solid #e5e5e5 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /*border : 0px solid rgba(0,0,0,0) !important;*/
}
.left-agileits-w3layouts-img{
    /*background: rgba(0, 0, 0, 0.78);*/
    background : white;
}
.tp{
    height: 95px;
    padding-top: 0px;
    margin-top: -20px;
}
.clr{
    color : #180CED !important;
}
.bg{
    background: #180CED !important;
}
.btn{
    color : white !important;
}
.nomargin{
    margin: 0px 0px 0px 0px;
}
.pre-txt{
    font-size: 35px;
    font-family: sans-serif;
}
.logo-txt{
    font-size: 55px;
    margin: 0px 0px 0px 0px;
    font-family: fantasy !important;
    letter-spacing: 10px;
    padding: 0px 0px 0px 0px;
    line-height: 62px;
}
.ctr{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .slogan {
        line-height: 20px !important;
    }
    .logo-txt txtclr{
        font-family: fantasy !important;
    }
}

.slogan{
    font-size: 20px;
    letter-spacing: 7.1px;
    line-height: 0px;
    font-style : italic !important;
    font-family: initial !important;
    font-weight: bold !important;
}
#titles
{
 text-align: center;   
}

#titles div, #titles p
{
    /*display: inline-block;*/
    display: inline-table;
}
.txtclr{
    color : #FFD402;
}
.abt-us{
    margin : 10% 0% 0% 10%
}
.s-btn{
    margin-top: 10px;
}

.firsttab{
    width: 80%;
    margin-top: 4%;
}
.book-appointments{
    margin : 5% 0% 0% 5%
}
.btn{
    width: 200px !important;
    font-family: sans-serif;
    font-size: 20px !important;
    background: #FFD402;
    
}
.subbtn{
    
    background: #1000EA !important;
    width: 100% !important
}
.hw-txt{
    text-align: center;
    font-size: 30px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.gist{
    font-size: 16px;
    font-weight: 600;
}