.hide {
    display: none;
}

.show {
    display: block;
}

.in-no-margin {
    margin-bottom: 0px !important;
}

.err {
    color: red;
    margin: 0px 0px 0px 3px
}

.error {
    color: red;
    margin: 0px 0px 0px 3px
}

.eight-px {
    width: 8% !important;
}

.push-right {
    float: right
}

.padding-20 {
    padding: 20px 0px;
}

.light-backgorund {
    padding: 20px 0px !important;
}

.white-backgorund {
    padding: 20px 0px !important;
}

.rating-container {
    display: none;
}

.product-img {
    height: 200px !important;
    width: 300px !important;
}

.product-img-detail {
    height: 250px !important;
    width: 400px !important;
}

.a7-color {
    color: #1F5FDA;
}

.a7-bg-color {
    color: #1F5FDA;
}